[Desktop Entry]
Name=guake
Comment=guake
Exec=guake
Terminal=false
Type=Application
Icon=terminal
NotShowIn=KDE;GNOME;Cinnamon;LXDE;Unity;
StartupNotify=false
X-GNOME-Autostart-Delay=30
Categories=System;
